#<IfModule dir_module>
 #   DirectoryIndex index.php index.html
#</IfModule>
#AddDefaultCharset UTF-8
#AddCharset UTF-8 .html
#<FilesMatch "\.(html)$">
 #  Header set Cache-Control: "no-cache, no-store"
 #  Header unset ETag
#</FilesMatch>
#Header set X-Content-Type-Options nosniff

DirectoryIndex index.php index.html
#AllowOverride All
Header set Cache-Control: "no-cache, no-store"
# enable apache rewrite engine
RewriteEngine on
Header set X-Content-Type-Options nosniff
# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^(.*)$ index.html  [QSA]